@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;600&display=swap');

body {
	padding-bottom: 60px;
	font-family: 'Roboto', sans-serif;
	@media (min-width: 768px) {
		padding: 0;
	}
}

.pageWrapper {
	@media (min-width: 768px) {
		display: flex;
		align-items: stretch;
	}
}

nav {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	@media (min-width: 768px) {
		position: relative;
		width: 30%;
		height: 100vh;
	}
	@media (min-width: 768px) {
		width: 20%;
	}
}
main {
	padding: 40px;
	@media (min-width: 768px) {
		width: 70%;
	}
	@media (min-width: 768px) {
		width: 80%;
	}
}

.pageTitle {
	margin-bottom: 16px;
	font-weight: 700;
	font-size: 1.5rem;
	line-height: 1.3;
	color: #333;
}

.searchBox {
	padding: 8px 8px;
	border-radius: 8px;
	border: solid 1px #ccc;
	font-family: 'Roboto', sans-serif;
	color: #333;
	font-size: 12px;
	&:focus {
		border-color: lightcoral;
		outline: none;
	}
}
